.customBackground{
/* IE10 */
background-image: -ms-linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);
 
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);
 
/* Opera */
background-image: -o-linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);
 
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #AACFEF));
 
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);
 
/* Regola standard */
background-image: linear-gradient(to top right, #FFFFFF 0%, #AACFEF 100%);
}

