.overlay2 {
	text-align: left;
	position: absolute;
	left: calc(50% - 120px);
	top: 120px;
	width: 240px;
	height: 240px;
	z-index: 10;
	display: none;
}

.overlay2 > img{
	width: 100%;
}

.overlayback2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	z-index: 5;
	display: none;
}

.table {
	table-layout: fixed;
}